include ../partials/mixins/index

block vars
    - var bodyClass = ''
    - var footerClass = ''
    - var headerClass = ''
    - var pageTitle = ''
    - var dir = ''

doctype html
html(lang='ru-RU')
    head
        meta(charset='UTF-8')
        meta(name='format-detection', content='telephone=no')
        meta(name='viewport', content='width=device-width, initial-scale=1.0')
        link(rel='stylesheet', href= dir + 'styles.css')
        link(rel='stylesheet', href= dir + 'css/styles.min.css')
    body(class=bodyClass)
        .wrapper
            header.header
                .mob-menu
                    .mob-menu__inner
                        .mob-menu__close
                        .btn-inner
                            a(href="#").btn Войти
                        ul.mob-menu__list
                            li.mob-menu__item.active
                                a(href="#").mob-menu__link ЖУРНАЛ
                                .mob-arrow
                                .mob-menu__drop
                                    ul.m-drop-menu
                                        li.m-drop-menu__item
                                            a(href="#").m-drop-menu__link ВСЕ СТАТЬИ
                                        li.m-drop-menu__item
                                            a(href="#").m-drop-menu__link МОДА
                                        li.m-drop-menu__item
                                            a(href="#").m-drop-menu__link КРАСОТА
                                        li.m-drop-menu__item
                                            a(href="#").m-drop-menu__link ЗОЖ
                                        li.m-drop-menu__item
                                            a(href="#").m-drop-menu__link ЖИЗНЬ
                            li.mob-menu__item
                                a(href="#").mob-menu__link ФОТООТЧЕТЫ
                                .mob-arrow
                                .mob-menu__drop
                                    ul.m-drop-menu
                                        li.m-drop-menu__item
                                            a(href="#").m-drop-menu__link ВСЕ СТАТЬИ
                                        li.m-drop-menu__item.active
                                            a(href="#").m-drop-menu__link МОДА
                                        li.m-drop-menu__item
                                            a(href="#").m-drop-menu__link КРАСОТА
                                        li.m-drop-menu__item
                                            a(href="#").m-drop-menu__link ЗОЖ
                                        li.m-drop-menu__item
                                            a(href="#").m-drop-menu__link ЖИЗНЬ
                            li.mob-menu__item
                                a(href="#").mob-menu__link ЭКСПЕРТЫ
                            li.mob-menu__item
                                a(href="#").mob-menu__link БАНК МОДЕЛЕЙ
                            li.mob-menu__item
                                a(href="#").mob-menu__link КАТАЛОГ КОМПАНИЙ
                            li.mob-menu__item
                                a(href="#").mob-menu__link АФИША
                        ul.small-menu
                            li.small-menu__item
                                a(href="#").small-menu__link О проекте
                            li.small-menu__item
                                a(href="#").small-menu__link Контакты
                            li.small-menu__item.active
                                a(href="#").small-menu__link Обратная связь
                            li.small-menu__item
                                a(href="#").small-menu__link Подписаться на рассылку
                        .social.social--mob-menu
                            .social__item.social__item--fb
                            .social__item.social__item--ytb
                            .social__item.social__item--vk
                            .social__item.social__item--inst
                .short-menu
                    .short-menu__inner
                        .short-menu__close
                        .short-menu__ico
                        ul.short-menu__list
                            li.short-menu__item
                                a(href="#").short-menu__link О ПРОЕКТЕ
                            li.short-menu__item
                                a(href="#").short-menu__link КОНТАКТЫ
                            li.short-menu__item.active
                                a(href="#").short-menu__link ЛИЧНЫЙ КАБИНЕТ
                            li.short-menu__item
                                a(href="#").short-menu__link ПОИСК
                            li.short-menu__item
                                a(href="#").short-menu__link ПОДПИСАТЬСЯ НА РАССЫЛКУ
                            li.short-menu__item
                                a(href="#").short-menu__link ОБРАТНАЯ СВЯЗЬ
                        .social
                            .social__item.social__item--fb
                            .social__item.social__item--ytb
                            .social__item.social__item--vk
                            .social__item.social__item--inst
                .search-section
                    .search-section__close
                    .container
                        form.search-section__inner
                            .search-section__input-inner
                                input.search-section__input(type="text", name="search", placeholder='')
                                button(type="submit").search-section__btn
                                span.placeholder Поиск
                            .search-section__radio-inner
                                .search-section__item-radio
                                    input(type="radio", id="search1", checked, name="type-search")
                                    label(for="search1") Статьи
                                .search-section__item-radio
                                    input(type="radio", id="search2", name="type-search")
                                    label(for="search2") Эксперты
                                .search-section__item-radio
                                    input(type="radio", id="search3", name="type-search")
                                    label(for="search3") Модели
                                .search-section__item-radio
                                    input(type="radio", id="search4", name="type-search")
                                    label(for="search4") Компании
                                .search-section__item-radio
                                    input(type="radio", id="search5", name="type-search")
                                    label(for="search5") События
                .container
                    .mob-header.sm-visible.sm-visible--flex
                        .menu-btn
                            .menu-btn__inner
                                .menu-btn__item
                                .menu-btn__item
                                .menu-btn__item
                        .mob-header__logo
                            a(href="#").logo
                                img(src="./images/logo.png", alt='logo', title='logo')
                        .btn-search


                    .header__inner.sm-hidden
                        .header__top
                            .header__logo
                                a(href="#").logo
                                    img(src="./images/logo.png", alt='logo', title='logo')
                            .social.social--header
                                a(href="#").social__item.social__item--fb
                                a(href="#").social__item.social__item--ytb
                                a(href="#").social__item.social__item--vk
                                a(href="#").social__item.social__item--inst

                            // эти 2 кнопки удаляются при авторизации и появляется нижний закомментированный блок
                            a(href="#").btn.btn--avtoriz Войти
                            a(href="#").btn.btn--avtoriz Зарегистрироваться
                            //

                            //a(href="#").avtoriz-info
                            //    .avtoriz-info__images
                            //        img(src="./images/avatar.jpg")
                            //    .avtoriz-info__name Иван Воложен
                        .header__nav
                            .short-btn
                                .short-btn__inner
                                    .short-btn__item
                                    .short-btn__item
                                    .short-btn__item
                            a(href="#").logo
                                img(src="./images/logo.png", alt='logo', title='logo')
                            nav.nav-menu.nav-menu--header
                                ul.nav-menu__list
                                    li.nav-menu__item
                                        a(href="#").nav-menu__link Журнал
                                        .drop-menu
                                            .drop-menu__inner
                                                ul.drop-menu__list
                                                    li.drop-menu__item.active
                                                        a(href="#").drop-menu__link Все статьи
                                                    li.drop-menu__item
                                                        a(href="#").drop-menu__link МОДА
                                                    li.drop-menu__item
                                                        a(href="#").drop-menu__link КРАСОТА
                                                    li.drop-menu__item
                                                        a(href="#").drop-menu__link ЗОЖ
                                                    li.drop-menu__item
                                                        a(href="#").drop-menu__link ЖИЗНЬ
                                                .drop-menu__topic.topic-menu
                                                    .topic-menu__name Топик
                                                    .topic-menu__inner
                                                        .topic-menu__item
                                                            +small-item--with-content("./images/topic-image1.jpg", "мода", "Dolor sit amet conse", "Lorem ipsum dolor sit amet conse ctetur adipiscing elit", "17 ноября 2017", "116", "0")
                                                        .topic-menu__item
                                                            +small-item--with-content("./images/topic-image2.jpg", "мода", "Dolor sit amet conse", "Lorem ipsum dolor sit amet conse ctetur adipiscing elit", "17 ноября 2017", "116", "0")
                                                        .topic-menu__item
                                                            +small-item--with-content("./images/topic-image3.jpg", "мода", "Dolor sit amet conse", "Lorem ipsum dolor sit amet conse ctetur adipiscing elit", "17 ноября 2017", "116", "0")

                                    li.nav-menu__item
                                        a(href="#").nav-menu__link Фотоотчеты
                                        .drop-menu
                                            .drop-menu__inner
                                                ul.drop-menu__list
                                                    li.drop-menu__item.active
                                                        a(href="#").drop-menu__link Все фотоотчеты
                                                    li.drop-menu__item
                                                        a(href="#").drop-menu__link МОДА
                                                    li.drop-menu__item
                                                        a(href="#").drop-menu__link КРАСОТА
                                                    li.drop-menu__item
                                                        a(href="#").drop-menu__link ЗОЖ
                                                    li.drop-menu__item
                                                        a(href="#").drop-menu__link ЖИЗНЬ
                                                .drop-menu__topic.topic-menu
                                                    .topic-menu__name Топик
                                                    .topic-menu__inner
                                                        .topic-menu__item
                                                            +small-item--with-content("./images/topic-image2.jpg", "мода", "Dolor sit amet conse", "Lorem ipsum dolor sit amet conse ctetur adipiscing elit", "17 ноября 2017", "116", "0")
                                                        .topic-menu__item
                                                            +small-item--with-content("./images/topic-image1.jpg", "мода", "Dolor sit amet conse", "Lorem ipsum dolor sit amet conse ctetur adipiscing elit", "17 ноября 2017", "116", "0")
                                                        .topic-menu__item
                                                            +small-item--with-content("./images/topic-image3.jpg", "мода", "Dolor sit amet conse", "Lorem ipsum dolor sit amet conse ctetur adipiscing elit", "17 ноября 2017", "116", "0")

                                    li.nav-menu__item
                                        a(href="#").nav-menu__link Эксперты
                                        .drop-menu
                                            .drop-menu__inner
                                                ul.drop-menu__list
                                                    li.drop-menu__item.active
                                                        a(href="#").drop-menu__link Все эксперты
                                                    li.drop-menu__item
                                                        a(href="#").drop-menu__link МОДА
                                                    li.drop-menu__item
                                                        a(href="#").drop-menu__link КРАСОТА
                                                    li.drop-menu__item
                                                        a(href="#").drop-menu__link ЗОЖ
                                                    li.drop-menu__item
                                                        a(href="#").drop-menu__link ЖИЗНЬ
                                                .drop-menu__topic.topic-menu
                                                    .topic-menu__name Топик
                                                    .topic-menu__inner
                                                        .topic-menu__item
                                                            +small-item--with-content("./images/topic-image3.jpg", "мода", "Dolor sit amet conse", "Lorem ipsum dolor sit amet conse ctetur adipiscing elit", "17 ноября 2017", "116", "0")
                                                        .topic-menu__item
                                                            +small-item--with-content("./images/topic-image1.jpg", "мода", "Dolor sit amet conse", "Lorem ipsum dolor sit amet conse ctetur adipiscing elit", "17 ноября 2017", "116", "0")
                                                        .topic-menu__item
                                                            +small-item--with-content("./images/topic-image2.jpg", "мода", "Dolor sit amet conse", "Lorem ipsum dolor sit amet conse ctetur adipiscing elit", "17 ноября 2017", "116", "0")
                                    li.nav-menu__item
                                        a(href="#").nav-menu__link Банк моделей
                                        .drop-menu
                                            .drop-menu__inner
                                                ul.drop-menu__list
                                                    li.drop-menu__item.active
                                                        a(href="#").drop-menu__link ВСЕ МОДЕЛИ
                                                    li.drop-menu__item
                                                        a(href="#").drop-menu__link ФОТОМОДЕЛИ
                                                    li.drop-menu__item
                                                        a(href="#").drop-menu__link ПОДИУМНЫЕ МОДЕЛИ
                                                    li.drop-menu__item
                                                        a(href="#").drop-menu__link ВОЗРАСТНЫЕ МОДЕЛИ
                                                    li.drop-menu__item
                                                        a(href="#").drop-menu__link ФИТНЕСС-МОДЕЛИ
                                                    li.drop-menu__item
                                                        a(href="#").drop-menu__link PLUS SIZE МОДЕЛИ
                                                    li.drop-menu__item
                                                        a(href="#").drop-menu__link KIDS-МОДЕЛИ
                                                    li.drop-menu__item
                                                        a(href="#").drop-menu__link МЕДИЙНЫЕ ЛИЦА
                                                    li.drop-menu__item
                                                        a(href="#").drop-menu__link АКТЕРЫ
                                                .drop-menu__topic.topic-menu
                                                    .topic-menu__name Топик
                                                    .topic-menu__inner
                                                        .topic-menu__item
                                                            +small-item--with-content("./images/topic-image2.jpg", "мода", "Dolor sit amet conse", "Lorem ipsum dolor sit amet conse ctetur adipiscing elit", "17 ноября 2017", "116", "0")
                                                        .topic-menu__item
                                                            +small-item--with-content("./images/topic-image1.jpg", "мода", "Dolor sit amet conse", "Lorem ipsum dolor sit amet conse ctetur adipiscing elit", "17 ноября 2017", "116", "0")
                                                        .topic-menu__item
                                                            +small-item--with-content("./images/topic-image3.jpg", "мода", "Dolor sit amet conse", "Lorem ipsum dolor sit amet conse ctetur adipiscing elit", "17 ноября 2017", "116", "0")

                                    li.nav-menu__item
                                        a(href="#").nav-menu__link Каталог компаний
                                        .drop-menu
                                            .drop-menu__inner
                                                ul.drop-menu__list
                                                    li.drop-menu__item.active
                                                        a(href="#").drop-menu__link Все статьи
                                                    li.drop-menu__item
                                                        a(href="#").drop-menu__link МОДА
                                                    li.drop-menu__item
                                                        a(href="#").drop-menu__link КРАСОТА
                                                    li.drop-menu__item
                                                        a(href="#").drop-menu__link ЗОЖ
                                                    li.drop-menu__item
                                                        a(href="#").drop-menu__link ЖИЗНЬ
                                                .drop-menu__topic.topic-menu
                                                    .topic-menu__name Топик
                                                    .topic-menu__inner
                                                        .topic-menu__item
                                                            +small-item--with-content("./images/topic-image2.jpg", "мода", "Dolor sit amet conse", "Lorem ipsum dolor sit amet conse ctetur adipiscing elit", "17 ноября 2017", "116", "0")
                                                        .topic-menu__item
                                                            +small-item--with-content("./images/topic-image1.jpg", "мода", "Dolor sit amet conse", "Lorem ipsum dolor sit amet conse ctetur adipiscing elit", "17 ноября 2017", "116", "0")
                                                        .topic-menu__item
                                                            +small-item--with-content("./images/topic-image3.jpg", "мода", "Dolor sit amet conse", "Lorem ipsum dolor sit amet conse ctetur adipiscing elit", "17 ноября 2017", "116", "0")
                                    li.nav-menu__item.active
                                        a(href="#").nav-menu__link Афиша
                                        .drop-menu
                                            .drop-menu__inner
                                                ul.drop-menu__list
                                                    li.drop-menu__item.active
                                                        a(href="#").drop-menu__link Все статьи
                                                    li.drop-menu__item
                                                        a(href="#").drop-menu__link МОДА
                                                    li.drop-menu__item
                                                        a(href="#").drop-menu__link КРАСОТА
                                                    li.drop-menu__item
                                                        a(href="#").drop-menu__link ЗОЖ
                                                    li.drop-menu__item
                                                        a(href="#").drop-menu__link ЖИЗНЬ
                                                .drop-menu__topic.topic-menu
                                                    .topic-menu__name Топик
                                                    .topic-menu__inner
                                                        .topic-menu__item
                                                            +small-item--with-content("./images/topic-image2.jpg", "мода", "Dolor sit amet conse", "Lorem ipsum dolor sit amet conse ctetur adipiscing elit", "17 ноября 2017", "116", "0")
                                                        .topic-menu__item
                                                            +small-item--with-content("./images/topic-image1.jpg", "мода", "Dolor sit amet conse", "Lorem ipsum dolor sit amet conse ctetur adipiscing elit", "17 ноября 2017", "116", "0")
                                                        .topic-menu__item
                                                            +small-item--with-content("./images/topic-image3.jpg", "мода", "Dolor sit amet conse", "Lorem ipsum dolor sit amet conse ctetur adipiscing elit", "17 ноября 2017", "116", "0")
                            .btn-search
            block main
            footer.footer
                .container
                    a(href="#").logo.logo--footer.sm-hidden
                        img(src="./images/logo--footer.png", alt="logo")
                    .footer__inner
                        .footer__nav.footer__item
                            ul.nav-footer.sm-visible
                                li.nav-footer__item
                                    a(href="#").nav-footer__link ЖУРНАЛ
                                li.nav-footer__item
                                    a(href="#").nav-footer__link ФОТООТЧЕТЫ
                                li.nav-footer__item.active
                                    a(href="#").nav-footer__link ЭКСПЕРТЫ
                                li.nav-footer__item
                                    a(href="#").nav-footer__link БАНК МОДЕЛЕЙ
                                li.nav-footer__item
                                    a(href="#").nav-footer__link КАТАЛОГ КОМПАНИЙ
                                li.nav-footer__item
                                    a(href="#").nav-footer__link АФИША
                            ul.nav-footer.sm-hidden
                                li.nav-footer__item.active
                                    a(href="#").nav-footer__link ЖУРНАЛ
                                li.nav-footer__item
                                    a(href="#").nav-footer__link ФОТООТЧЕТЫ
                                li.nav-footer__item
                                    a(href="#").nav-footer__link ЭКСПЕРТЫ
                                li.nav-footer__item
                                    a(href="#").nav-footer__link КАТАЛОГ КОМПАНИЙ
                                li.nav-footer__item
                                    a(href="#").nav-footer__link БАНК МОДЕЛЕЙ
                                li.nav-footer__item
                                    a(href="#").nav-footer__link АФИША
                                li.nav-footer__item
                                    a(href="#").nav-footer__link О проекте
                                li.nav-footer__item
                                    a(href="#").nav-footer__link Контакты
                                li.nav-footer__item
                                    a(href="#").nav-footer__link Правовая информация
                        .data-footer.footer__item
                            .data-footer__content.sm-hidden.
                                Мнение авторов статей может не совпадать с мнением редакции. Любое использование материалов Fashionbank. by разрешено только с обязательным размещением активной ссылки на источник. Все авторские права защищены.
                            .info-footer
                                a(href="#").info-footer__item.data-footer__partners.sm-hidden рекламодателям  <br> и партнерам
                                .social.social--white.info-footer__item
                                    a(href="#").social__item.social__item--fb
                                    a(href="#").social__item.social__item--ytb
                                    a(href="#").social__item.social__item--vk
                                    a(href="#").social__item.social__item--inst
                                .data-footer__copyright.info-footer__item.sm-hidden © 2017, Fashionbank.by
                            ul.nav-footer.nav-footer--small.sm-visible
                                li.nav-footer__item
                                    a(href="#").nav-footer__link О проекте
                                li.nav-footer__item
                                    a(href="#").nav-footer__link Рекламодателям и партнерам
                                li.nav-footer__item.active
                                    a(href="#").nav-footer__link Правовая информация
                                li.nav-footer__item
                                    a(href="#").nav-footer__link Контакты
                            a(href="#").developer.sm-visible  Программирование сайта – S.L.A.M.
                        .footer__dispatch.footer__item
                            form.dispatch#defaultForm(method='post', action='')
                                .dispatch__name ПОДПИСАТЬСЯ НА РАССЫЛКУ
                                .form-group
                                    input(type="text", placeholder="E-mail", required, name="email").dispatch__input.form-group__input.form-control
                            a(href="#").developer.sm-hidden  Программирование сайта – S.L.A.M.

        block popup

        script(src="js/vendor/jquery-3.3.1.min.js")
        script(src="js/vendor/popper.js")
        script(src="js/vendor/bootstrap.min.js")
        script(src="js/vendor/bootstrapValidator.js")
        script(src="js/vendor/slick.min.js")
        script(src="js/vendor/jquery.magnific-popup.min.js")
        script(type='text/javascript').
            $(document).ready(function () {
                $('#defaultForm').bootstrapValidator();
                $('#podpiska').bootstrapValidator();
                magnificInit();
            });
        block scripts
        script(src="js/app.min.js")



