mixin big-slide--video(img, collection, name, content, date, view, msg)
    .big-slide(style="background-image: url(" + img + ")")
        .big-slide__inner
            .big-slide__play-video.play-video-inner
                a(rel="nofollow" href="https://www.youtube.com/watch?v=qIsrL4u-GPQ").play-video
            a(href="#").big-slide__collection= collection
            a(href="#").big-slide__name=  name
            .big-slide__content= content
            .big-slide__data
                .big-slide__date= date
                .big-slide__count-view= view
                .big-slide__count-msg= msg
