mixin breadcrump(link1,link2,link3,className )
    .breadcrumb(class= className)
        ul(itemscope itemtype="http://schema.org/BreadcrumbList")
            li(itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem")
                a(href="/" title="Главная" itemprop="item")
                    span(itemprop="name")= link1
                    meta(itemprop="position" content="0")
            li(itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem")
                a(href="#" title="внутренняя  " itemprop="item")
                    span(itemprop="name")= link2
                    meta(itemprop="position" content="2")
            li(itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem", class="active")
                span(itemprop="name")= link3
                meta(itemprop="position" content="2")
        .breadcrumb-mobile
            a(href="#") Главная

