mixin company-slide(img, type, name, content)
    .company-slide(style="background-image: url(" + img + ")")
        .company-slide__inner
            .company-slide__type
                a(href="#")= type
            .company-slide__name
                a(href="#")=  name
            .company-slide__content= content
