mixin paginations()
    .paginations
        ul.paginations__list
            li.paginations__item
                a(href="#").paginations__link
                    i.ico-arrow-prev
            li.paginations__item
                a(href="#").paginations__link 1
            li.paginations__item
                a(href="#").paginations__link 2
            li.paginations__item
                a(href="#").paginations__link 3
            li.paginations__item
                a(href="#").paginations__link 4
            li.paginations__item.paginations__item--active
                a(href="#").paginations__link 5
            li.paginations__item
                span.paginations__link ...
            li.paginations__item
                a(href="#").paginations__link 15
            li.paginations__item
                a(href="#").paginations__link
                    i.ico-arrow-next
