mixin small-item--with-content(img, collection, name, content, date, view, msg)
    .small-item.small-item--type1
            a(href="#").small-item__images
                img(src=img, alt='img')
            .small-item__inner
                a(href="#").small-item__collection= collection
                a(href="#").small-item__name= name
                .small-item__content= content
                .small-item__data
                    .small-item__date= date
                    .small-item__count-view= view
                    .small-item__count-msg= msg