.big-wrapp {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -13px;
}

.big-item {
  display: flex;
  padding: 0 13px;
  margin-bottom: 20px;
  width: 33.33333%;
  min-height: 362px;

  @include to_width($sm) {
    width: 50%;
  }

  @include to_width($ssm) {
    width: 100%;
    display: block;

    &.big-item--small-type {
      min-height: initial;
      margin-bottom: 10px;

      .big-item__images {
        display: block;
        width: 115px;
        height: 115px;
        background-size: cover;
        background-position: 50% 50%;
        margin-right: 15px;
        position: relative;

        &:before {
          content: '';
          position: absolute;
          left: 0;
          top: 0;
          right: 0;
          bottom: 0;
          background: rgba(0, 0, 0, 0.5);
          z-index: 1;
          transition: .3s;
          border: 9px solid transparent;
        }
      }

      .big-item__inner {
        background-image: none !important;
        color: #000;
        padding: 0;
        //margin-bottom: 10px;
        align-items: flex-start;

        &:before {
          content: none;
        }
      }

      .big-item__info {
        flex: 1;
        flex-direction: row;
        flex-wrap: wrap;
      }

      .big-item__collection {
        flex: 1;
        order: 2;
        padding: 0 0 0 10px;
        text-align: right;
        font-size: 9px;

        a {
          color: #000;
        }
      }

      .big-item__data {
        font-size: 9px;
        justify-content: flex-start;
      }

      .big-item__data {
        flex: 1;
        order: 1;
      }

      .big-item__name {
        order: 3;
        width: 100%;
        font-size: 16px;
        line-height: 18px;
        margin-top: 10px;
        text-align: left;

        a {
          color: #000;
        }
      }

      .big-item__content {
        display: none;
      }

      .big-item__count-view {
        display: none;
      }

      .big-item__count-msg {
        display: none;
      }

    }

    &:not(.big-item--small-type) {
      margin-bottom: 15px;
      min-height: 290px;

      .big-item__inner {

        height: 100%;
      }

      .big-item__info {
        justify-content: space-between;
      }

      .big-item__collection {
        margin-bottom: 5px;
        flex: none;
        align-self: center;
      }

      .big-item__content {
        display: none;
      }

      .big-item__count-view {
        display: none;
      }

      .big-item__count-msg {
        display: none;
      }
    }
  }

  &__big-date {

    span {
      text-transform: uppercase;
    }
  }

  &__images {
    display: none;
  }

  &__ico{
    margin-bottom: 35px;
  }

  &__name {
    font-size: 26px;
    line-height: 28px;
    font-weight: 900;
    padding-bottom: 10px;

    a {
      color: #fff;

      &:hover {
        color: $brown;

      }
    }
  }

  &__content {
    font-size: 18px;
    padding-bottom: 15px;

  }

  &__data {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 -10px;
    font-size: 11px;
  }

  &__date {
    padding: 0 10px;
  }

  &__count-view {
    padding: 0 10px;
    @include i;
    @include i-ico-eye--white;

    &:before {
      margin-right: 15px;
    }
  }

  &__favorites{
    cursor: pointer;
    opacity: 0.4;
    transition: .4s;
    margin: 0 10px;
    width: 8px;
    height: 8px;
    background: url('../images/ico-favorites.png') no-repeat 50% 50%;
    background-size: cover;

    &--active,
    &:hover{
      opacity: 1;
    }
  }

  &__count-msg {
    padding: 0 10px;
    @include i;
    @include i-ico-msg--white;

    &:before {
      margin-right: 15px;
    }
  }

  &__collection {
    font-size: 11px;
    text-transform: uppercase;
    text-decoration: none;
    align-self: flex-end;
    flex: 1;

    a {
      color: #fff;

      &:hover {
        color: $brown;

      }
    }
  }

  &__inner {
    position: relative;
    color: #fff;
    padding: 30px;
    background-size: cover;
    background-position: 50% 50%;
    background-repeat: no-repeat;

    display: flex;
    align-items: flex-end;
    justify-content: center;
    text-align: center;

    &:before {
      content: '';
      position: absolute;
      left: 0;
      top: 0;
      right: 0;
      bottom: 0;
      background: rgba(0, 0, 0, 0.5);
      z-index: 1;
      transition: .3s;
      border: 9px solid transparent;
    }
  }

  &__info {
    position: relative;
    display: flex;
    flex-direction: column;
    z-index: 3;
    height: 100%;
  }

  &--hover {

    .big-item__inner {
      &:before {
        border-color: $brown;
        background: rgba(0, 0, 0, 0.7);
      }

    }
  }

  &--fix-content{

    .big-item__name{
      font-size: 24px;
    }

    .big-item__content{
      font-size: 16px;
    }
  }

  &--type1 {

    .big-item__collection {

      @include to_width($md) {
        position: absolute;
        top: 0;
        right: 0;
      }
    }

    .big-item__collection {
      @include to_width($ssm) {
        position: static;
        order: 3;
      }
    }

    .big-item__data {
      @include to_width($ssm) {
        display: none;
      }
    }

    .big-item__info {

      @include to_width($md) {

      }
      flex-direction: column;
      justify-content: center;
    }

    .big-item__big-date {
      //      50 20
      font-weight: 700;
      line-height: 1;
      margin-bottom: 20px;
      span {
        display: block;

        &:first-child {
          font-size: 50px;
        }

        &:last-child {

          &:not(&:first-child) {
            font-size: 20px;

          }
        }
      }
    }

  }
}