.name-section {
  margin-bottom: 22px;

  @include to_width($md) {
    display: none;
  }

  @include to_width($ssm) {
    margin-bottom: 12px;
  }

  .form-group__input {
    background: transparent;
    border-radius: 0;
    outline: none;
    box-shadow: none;
    border-color: #fff;
    color: #fff;

    &:focus {
      outline: none;
      box-shadow: none;
    }
  }

  &__wrapp {
    position: relative;
    min-height: 230px;
    padding: 20px 20px;
    background-image: url('../images/bg-section.jpg');
    background-size: cover;
    background-position: 50% 50%;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;

    @include to_width($ssm) {

    }

    &:before {
      content: '';
      position: absolute;
      left: 0;
      top: 0;
      right: 0;
      bottom: 0;
      background: rgba(0, 0, 0, 0.5);
      z-index: 1;

    }
  }

  &__inner {
    position: relative;
    z-index: 2;
    color: #fff;
  }

  &__ico {
    @include i;
    @include i-ico-small-logo;

    margin-bottom: 10px;
  }

  &__name {
    color: #fff;
    font-size: 40px;
    line-height: 45px;
    font-weight: 900;
    text-transform: uppercase;
    padding-bottom: 20px;

  }

  a.name-section__name {

    &:hover {
      color: $brown;
    }
  }

  &--subscription {

    @include to_width($md) {
      display: block;
    }

    @include to_width($ssm) {

      .name-section__ico {
        display: none;
      }

      .name-section__name {
        @include i;
        @include i-ico-small-logo;

        &:before {
          margin-right: 10px;
        }
      }
    }

    .form-group {

      &__input {
        transition: .3s;
      }

      &.has-error {

        .form-group__input {
          border-color: #a10707;
        }
      }
    }

    .help-block {
      display: none !important;
    }

    .name-section__name {
      font-size: 26px;
      line-height: 28px;
      text-transform: initial;

      @include to_width($ssm) {
        font-size: 18px;
        line-height: 20px;
        display: flex;
        align-items: center;
        justify-content: center;
      }
    }

    .name-section__wrapp {

      @include to_width($ssm) {
        min-height: auto;
      }
    }

    .name-section__inner {
      max-width: 360px;
      width: 100%;

      @include to_width($ssm) {
        max-height: 29px;
        overflow: hidden;

        &.active {
          max-height: initial;
        }
      }
    }

    .btn--submit {
      margin-bottom: 0;
      padding: 0 40px;
    }

  }
}