extends ../templates/layout

block vars
    - var bodyClass = ''
    - var footerClass = ''
    - var headerClass = ''
    - var pageTitle = 'Личный кабинет - Сменить пароль'
    - var dir = ''

block main
    main.main
        .container
            .h1-preview
                .h1-preview__inner(style="background-image: url('./images/h1-bg.jpg')")
                    .h1-preview__name Все страницы
            .content
                ul
                    li
                        a(href="./index.html" target="_blank") Главная
                    li
                        a(href="./popup.html" target="_blank") Попапы
                    li
                        a(href="./etalon.html" target="_blank") Эталонка
                    li
                        a(href="./lk_change-password.html" target="_blank") ЛК - смена пароля
                    li
                        a(href="./lk_favorites.html" target="_blank") ЛК - избранные материалы
                    li
                        a(href="./lk_info.html" target="_blank") ЛК - Персональные данные
                    li
                        a(href="./lk_subscription.html" target="_blank") ЛК - Подписка
                    li
                        a(href="./etalon.html" target="_blank") Внутренняя

block scripts